<!DOCTYPE html>
<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <div class="container">
      <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <div id="imagenDedos" class="imagenDedos">
	            <img src="../static/imsg-mano.jpg" width="100%">
            </div>
            <div id="numeros">
	             {{secuencia}}
            </div>
            
              <div id="logo" class="logo mt-5"><img src="../static/img-logo.jpg" width="100%"></div>
            <div class="fondo-contenedor-video">  
              	<img id="video-fondo" src="{{ url_for('video_feed') }}" width="100%">
            </div>
          <div id="cuentaRegresiva" class="cuentaRegresiva">TIEMPO RESTANTE: {{tiempo}}</div>
          </div>
      </div>
  </div>
  </body>